@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

body {
    float: left;
    position: relative;
    width: 100%;
}

#nav a {
    margin-right: 1rem;
}

.loader {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.thumbnail-wrapper {
    .thumbnail-item { 
        .thumbnail-item-image {
            background-size: cover;
            border-radius: 0.5rem;
            height: 300px;
        }

        .thumbnail-item-series {
            font-size: 13px;
            color: #33c4f2;
        }

        .thumbnail-item-title {
            font-size: 16px;
            font-weight: 600;
            color: #333;
        }
        
        .thumbnail-item-description {
            font-size: 12px;
            color: #333;
            height: 1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }        
    }
}    
