<template>
  <section>
    <div v-if="thumbnails" class="comics container p-3">
      <pagination :page="page" :perPage="perPage" :count="comics.length" @paginationCallback="paginationClicked"></pagination>
      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="thumbnail-wrapper row">
            <div class="thumbnail-item col-md-6 col-lg-4 p-3 text-start" v-for="(comic, i) in thumbnails" v-bind:key="i">
              <div class="thumbnail-item-image mb-3" v-bind:style="{ backgroundImage:`url(${comic.thumbnail_url})` }">
              </div>
              <div class="thumbnail-item-series">{{ comic.series_name }}</div>
              <h5 class="thumbnail-item-title">{{ comic.title }}</h5>
              <p class="thumbnail-item-description">{{ comic.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <pagination :page="page" :perPage="perPage" :count="comics.length" @paginationCallback="paginationClicked"></pagination>
    </div>
    <loader v-if="isLoading"></loader>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import Pagination from '../components/Pagination'
import Loader from '../components/Loader'

export default {
  name: 'Comics',
  data: () => {
    return {
      page: null,
      perPage: 3,
      thumbnails: null
    }
  },
  components: {
    Pagination,
    Loader
  },
  created () {
    this.$store.commit('setLoading', true)
  },
  mounted () {
    this.page = parseInt(this.$route.query?.page ?? '1')
    this.$store.dispatch('fetchComics')
    this.setThumbnails()
    console.log('page', this.page)
  },
  computed: mapState([
    'comics',
    'isLoading'
  ]),
  methods: {
    setThumbnails () {
      this.$store.commit('setLoading', true)
      setTimeout(() => {
        this.thumbnails = this.$store.getters.getComicsPage(this.page, this.perPage)
        this.$store.commit('setLoading', false)
      }, 3000)
    },

    paginationClicked (i) {
      this.page = i
      this.setThumbnails()
    }
  },
  watch: {
    comics () {
      this.setThumbnails()
    }
  }
}
</script>
