<template>
  <div v-if="count" class="pagination-wrapper">
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item" @click.prevent="previous()"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item" v-for="i in pageCount" :key="i"><a class="page-link" href="#" @click.prevent="clicked(i)">{{ i }}</a></li>
            <li class="page-item" @click.prevent="next()"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    page: Number,
    perPage: Number,
    count: Number,
    callback: Function
  },
  data: () => {
    return {
      pageCount: 0
    }
  },
  mounted () {
    this.pageCount = Math.ceil(this.count / this.perPage)
  },
  methods: {
    clicked (i) {
      this.$emit('paginationCallback', i)
    },
    previous (i) {
      if (this.page > 1) {
        this.clicked(this.page - 1)
      }
    },
    next (i) {
      if ((this.page * this.perPage) < this.count) {
        this.clicked(this.page + 1)
      }
    }
  }
}
</script>
